@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans&display=swap');

// Font Styles
$mainFont: 'Work Sans', sans-serif;
$titleFont: 'Abril Fatface', cursive;

// Colors
$background-charcoal: #2F4550;
$text-ghost-white : #F4F4F9;

a, a:link, a:visited,a:active {
    color: $text-ghost-white;
    text-decoration: none;
  }
  a:hover {
    color: rgba(245, 245, 250, 0.75) !important;
  }

  .nav {
    font-family: $mainFont;
    color: $text-ghost-white;
    padding-top: 24px;

  }
  .name {
    font-weight: bold;
  }
  
  .fab {
    font-size: 24px;
  }
  .fa-linkedin-in {
    padding-right: 24px;
  }