@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans&display=swap');

// Font Styles
$mainFont: 'Work Sans', sans-serif;
$titleFont: 'Abril Fatface', cursive;

// Colors
$background-charcoal: #2F4550;
$text-ghost-white : #F4F4F9;
$text-dark-electric-blue: #586F7C;

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

// Nav Bar Specific CSS

.nav {
    font-family: $mainFont;
  }
.nav-container {
  @media (min-width: 992px) {
    align-items: center;
  }
}
  .name {
    font-weight: bold;
    margin-right: 32px;
  }
  .nav-item {
    @media (max-width: 992px) {
      margin-bottom: 8px;
    }
  }
  .nav-icons {
    font-size: 24px;
    padding-left: 16px;
  }
  .first-icon {
    padding-left: 0px;
  }

// End of Nav Bar Specific CSS


// First Component Specific CSS

.main-container-first-page {
    height: 100vh;
    @media (min-width: 1800px) {
      height: 100vh;
    }
    background-color: $background-charcoal;
    background-image:
    url('./style/Blob-Haut-Droite-Top.svg'),
    url('./style/Blob-Haut-Droite-Bottom.svg'),
    url('./style/Blob-Haut-Gauche-Top.svg'),
    url('./style/Blob-Haut-Gauche-Bottom.svg');
    background-position: 858px -65px, 799px 18px, -309px 320px, -266px 400px;
    @media (min-width: 1800px) {
      background-position: 1300px -65px, 1200px 18px, -309px 320px, -266px 400px;
    }
    @media (min-width: 2400px) {
      background-position: 1900px -65px, 1800px 18px, -309px 320px, -266px 400px;
    }
    background-repeat: no-repeat;
    }

.title {
    // padding-top: 284px;
}

.text-title {
    font-family: $titleFont;
    color: $text-ghost-white;
    font-size: 64px;
  }
  
  .subtitle {
    margin-top: 32px;
  }
  .text-subtitle {
    font-family: $mainFont;
    color: $text-ghost-white;
    font-size: 24px;
  }
  .learn-more-container {

  }
  .learn-more {
      // margin-top: 20px;
  }
  .text-learn-more {
    font-family: $mainFont;
    color: $text-ghost-white;
    position: absolute;
    bottom: 0px;
    left: 46.5%;
  }
  .fa-mouse {
    padding-left: 8px;
  }
// End of First Component Specific CSS

// Second Component Specific CSS

.main-container-second-page {
    background-color: $text-ghost-white;
  }
  .bilbo-col {
    @media (max-width: 992px) {
      margin-top: 64px;
      margin-bottom: 192px;
    }
  }
  #bilbo-gif {
    position: absolute;
  }
  #blob-milieu-top {
    position: absolute;
    top: -70px;
    right: -20px;
  }
  #blob-milieu-bottom {
    position: absolute;
    top: -40px;
  }
  
  h2 {
    color: $text-dark-electric-blue;
    font-family: $titleFont;
    padding-bottom: 32px;
    font-size: 32px;
  }
  .desc {
    font-family: $mainFont;
    color: $background-charcoal;
  }
  
  .description-container {
    padding-top: 80px;
  }
  .skills-row {
    margin-top: 128px;
    background-color: $background-charcoal;
    border: $background-charcoal;
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .skill-title {
    color: $text-ghost-white;
    font-family: $titleFont;
    font-size: 16px;
    padding-top: 16px;
  }
  .skill {
    color: $text-ghost-white;
    font-family: $mainFont;
  }
  .skill-icon{
    margin-top: 42px;
    font-size: 32px;
    color: $text-ghost-white;
  }

// End of Second Component Specific CSS

// Third Component Specific CSS

.main-container-third-page {
    background-color: $text-ghost-white;
    padding-top: 64px;
}
.container-projets {
  margin-left: 32px;
  margin-right: 32px;
}
.row-horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap !important;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* FireFox */
}
.col-horizontal-scroll {
  display: inline-block;
  float: none;
  max-width: 30%;
  flex: 0 0 30%;
  @media (max-width: 992px) {
    max-width: 80%;
    flex: 0 0 80%;
  }
}
.card-container {
    margin-bottom: 32px;
    // display: inline-block;
    // float: none;

}
.card-overlay {
    background: linear-gradient(180deg, rgba(88, 111, 124, 0.4) 0%, rgba(47, 69, 80, 0.8) 100%);
}
.card-title {
    font-family: $mainFont;
    color: $text-ghost-white;
    font-size: 24px;
    font-weight: bold;
}
.card-title-icons {
    padding-left: 26px;
}
.card-text {
    font-size: 16px;
    font-family: $mainFont;
    color: $text-ghost-white;
}
.badge {
    background-color: $text-ghost-white;
    margin-top: 16px;
    margin-right: 8px;
}
.badge-text {
    // padding-top: 8px;
    // padding-bottom: 8px;
    // padding-left: 8px;
    // padding-right: 8px;
    color: $text-dark-electric-blue;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: normal;
}
.footer-container {
  background-color: $background-charcoal;
  margin-top: auto;
}
.footer-title {
  font-family: $titleFont;
  color: $text-ghost-white;
  font-size: 32px;
  margin-top: 32px;
}
.footer-text {
  font-family: $mainFont;
  color: $text-ghost-white;
  margin-top: 16px;
  font-size: 16px;
  padding-right: 16px;
  padding-left: 16px;
}
.contact-button {
  background-color: $text-ghost-white;
  color: $background-charcoal;
  border: none;
  border-radius: 80px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.contact-button:hover, .contact-button:focus, .contact-button:active {
  background-color: rgba(245, 245, 250, 0.75);
  color: $background-charcoal;
}
.bottom-footer {
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  color: $text-ghost-white;
  font-family: $mainFont;
  font-size: 16px;
  @media (max-width: 992px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}
// End of Third Component Specific CSS


